<!-- FAQ toggle -->
<h5 class="settings-subtitle">
    <button class="btn settings-subtitle-btn" data-toggle="collapse" data-target="#faq" aria-expanded="false"
        aria-controls="faq">
        > FAQ
    </button>
</h5>
<div id="faq" class="collapse" data-parent="#settings-accordion">
    <!-- Questions and responses -->
    <div id="faq-accordion">
        <div class="faq-item">
            <h6 class="faq-subtitle">
                <button class="btn faq-item-question collapsed" data-toggle="collapse" data-target="#faq-1"
                    aria-expanded="false" aria-controls="your-amoors">
                    Why amoor?
                </button>
            </h6>
            <div id="faq-1" class="collapse faq-item-response" data-parent="#faq-accordion">
                <p>Amoor was inspired by the idea of couples sharing their love with the world with locks on
                    the bridge. Now they can share it on the web!
                </p>
            </div>
        </div>

        <div class="faq-item">
            <h6 class="faq-subtitle">
                <button class="btn faq-item-question collapsed" data-toggle="collapse" data-target="#faq-2"
                    aria-expanded="false" aria-controls="your-amoors">
                    I want to contribute
                </button>
            </h6>
            <div id="faq-2" class="collapse faq-item-response" data-parent="#faq-accordion">
                <p>Good news! This project is open source, so if you're a developer you can contribute by adding your
                    own features or by helping with the issues
                    posted 😊 Here is the <strong><a href="https://github.com/melissahuertadev/amoor-app/issues" target="_blank">github
                        repo</a></strong>.
                </p>
            </div>
        </div>

        <div class="faq-item">
            <h6 class="faq-subtitle">
                <button class="btn faq-item-question collapsed" data-toggle="collapse" data-target="#faq-3"
                    aria-expanded="false" aria-controls="your-amoors">
                    How can I help?
                </button>
            </h6>
            <div id="faq-3" class="collapse faq-item-response" data-parent="#faq-accordion">
                <p>If you are a developer, read the previous answer and if you are not, you can help by spreading the voice :) 
                </p>
            </div>
        </div>
    </div>
</div>