<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
  <title>Amoor App</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
    crossorigin="anonymous" referrerpolicy="no-referrer">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
    integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <% switch(event) {
     case "auth" : %>
      <header class="container-fluid-sm header-auth">
        <a href="/" class="navbar-brand">Amoor</a>
        <a class="navbar-icon" href="/settings">
          <i class="fa-solid fa-gear"></i>
        </a>
      </header>
  <% break;
    case "non-auth" : %>
      <header class="container-fluid-sm header-auth">
        <a href="/" class="navbar-brand">Amoor</a>
        <a class="navbar-icon" href="/faq">
          <i class="fa-regular fa-circle-question"></i>
        </a>
      </header>
  <% break;
    default: %>
      <header class="container-fluid-sm">
        <a class="navbar-icon" href="/faq">
          <i class="fa-regular fa-circle-question"></i>
        </a>
      </header>
    <% }%>