<%- include('partials/home-header')%>

  <section class="container-fluid">
      <div class="row center-row">
        <div class="col-lg-6 home-container">
          <h1 class="notfound-heading font-amoor">404</h1>
          <a class="home-icon-enter" href="/amoors">
            <i class="fa-solid fa-arrow-right-to-bracket"></i>
          </a>
        </div>
      </div>
  </section>

  <%- include('partials/footer') %>