<%- include('partials/header', {event: "auth"}) %>

<section class="signup-section container-fluid">
  <div class="row addnew-row center-row">
    <div class="col-lg-10 col-md-6 col-sm-9">
      <form id="addnew-form" action="/users/add" method="POST">
        <div class="form-group row">
          <input type="name" class="form-control col-lg-5" name="name1" placeholder="Your name">
          <input type="name" class="form-control col-lg-5" name="name2" placeholder="Your amoor's name">
          <input type="date" class="form-control col-lg-5" name="date" placeholder="Date of celebration">
          <textarea style="resize:none" class="form-control col-lg-5" rows="2" name="message" placeholder="Message"></textarea>
        </div>
        <button type="submit" class="btn btn-dark">Add</button>
      </form>
    </div>
  </div>
</section>

<%- include('partials/footer') %>