<%- include('partials/header', {event: "non-auth" })%>

    <section class="settings-section text-left container-fluid">
        <div id="settings-accordion">
            <%- include('partials/faq') %>            
        </div>
    </section>

<%- include('partials/footer') %>