<%- include('partials/header', {event: "auth"}) %>

<section class="success-section center-row container-fluid">
    <div class="col-lg-8 col-md-10 col-sm-12">
      <h2 class="success-heading font-amoor">Yay! Your <span>amoor</span> was shared with the world.</h2>
      <h5 class="option-msg">Let's <a href="/amoors" style="text-decoration: underline;">see</a> it :)</h5>
    </div>
</section>

<%- include('partials/footer') %>